<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Point</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="styleQuery.css">
    <link rel="icon" href="img/workPoint.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arima:wght@100&family=Faustina:wght@300&family=Judson:ital@1&display=swap" rel="stylesheet">
<body>

    <div class="menu-main">
        <div class="logo-menu">

        </div>
        <div class="menu-options">
            {{#if session.userid}}
                    {{#if nivel}}
                        <div class="menu-logar-master">
                                <li><a href="/Controle">Controle</a></li>
                                <li><a href="/profile">Perfil</a></li>
                                <li><a href="/ponto">Ponto</a></li>
                                <li><a href="/historico">Hist贸rico</a></li>
                                <li><a href="/logout">Sair</a></li>
                    {{else}}
                        <div class="menu-logar-comum">
                                <li><a href="/ponto">Ponto</a></li>
                                <li><a href="/historico">Hist贸rico</a></li>
                                <li><a href="/logout">Sair</a></li>
                    {{/if}}
                    
                
                </div>
            {{else}}
                <div class="menu-logar">
                        <li><a href="/" translate="no">Login</a></li>
                        <li><a href="/suporte">Suporte</a></li>
                </div>
            {{/if}}
        </div>


        
        <div class="buttao-sandwich"><img src="img/menu-burger.png" id="buttaoSand" alt=""></div>
        
    </div>
    
    <div class="page">
        <div class="menu-sandwich">
            {{#if session.userid}}
                    {{#if nivel}}
                        <div class="menu-master-mobile">
                                <li><img src="img/visao.png" class="img-icon-menu"><a href="/Controle">Controle</a></li>
                                <li><img src="img/perfil.png" class="img-icon-menu"><a href="/profile">Perfil</a></li>
                                <li><img src="img/verificado.png" class="img-icon-menu"><a href="/ponto">Ponto</a></li>
                                <li><img src="img/historia.png" class="img-icon-menu"><a href="/historico">Hist贸rico</a></li>
                                <li><img src="img/sair.png" class="img-icon-menu"><a href="/logout">Sair</a></li>
                    {{else}}
                        <div class="menu-master-mobile">
                                <li><img src="img/verificado.png" class="img-icon-menu"><a href="/ponto">Ponto</a></li>
                                <li><img src="img/historia.png" class="img-icon-menu"><a href="/historico">Hist贸rico</a></li>
                                <li><img src="img/sair.png" class="img-icon-menu"><a href="/logout">Sair</a></li>
                    {{/if}}
                    
                
                </div>
            {{else}}
               <div class="menu-master-mobile">
                        <li><img src="img/perfil-login.png" class="img-icon-menu"><a href="/ponto" translate="no">Login</a></li>
                        <li><img src="img/configuracao.png" class="img-icon-menu"><a href="/suporte">Suporte</a></li>
                </div>
            {{/if}}
        </div>
        {{{body}}}
    </div>
    

    <footer>
        <p><span>copyright 2023</span></p>
    </footer>
</body>
    <script src="js/menuSandwich.js"></script>
</html>