<div class="page-historico">
    <div class="perfil-info-historico">
                <div><h2>{{userName}}</h2></div>
                <div><p>{{userEmail}}</p><p>{{cpfFormatado}}</p> </div>
            </div>
    <div class="item-all-page-historico">
        <div class="container-titulo">
                <h2>DADOS DO DIA {{data}}</h2>
        </div>
        <div class="container-itens-detalhados">
                <div class="itens-container-historico-tituloss">
                    <h2>TEMPO</h2>
                    {{#each tempo}}
                    <div class="container-control"><p>{{this}}</p></div>
                    {{/each}}
                </div>
                <div class="itens-container-historico-tituloss">
                    <h2>ENTRADA</h2>
                    {{#each entrada}}
                    <div class="container-control"><p>{{this}}</p></div>
                    {{/each}}
                </div>
        
                <div class="itens-container-historico-tituloss" >
                    <h2>SAÍDA</h2>
                    {{#each saida}}
                    <div class="container-control"><p>{{this}}</p></div>
                    {{/each}}
                </div>
                <div class="itens-container-historico-tituloss" id="item-container-titulo">
                    <h2>DESCRIÇÃO</h2>
                    {{#each descricao}}
                    <div class="container-control"><p>{{this}}</p></div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
