<div class="page-historico">
    <div class="perfil-info-historico">
                <div><h2>{{userName}}</h2></div>
                <div><p>{{userEmail}}</p><p>{{cpfFormatado}}</p> </div>
            </div>
    <div class="item-all-page-historico">
        <div class="container-titulo">
                <h2>DADOS DO DIA {{data}}</h2>
        </div>
            <div class="container-dados-users">
                    <div class="div-layout-dados">   
                            <div class="titulo-dados-user"><h2>Data</h2></div>
                            <div class="titulo-dados-user"><h2>Tempo</h2></div>
                            <div class="titulo-dados-user"><h2>Entrada</h3></div>
                            <div class="titulo-dados-user ver-mais"><h2>Saida</h2></div>
                    </div>
                    {{#each dadosPessoa}}
                                <div class="div-layout-dados">   
                                    <div class="name-controler"><p>{{this.datas}}</p></div>
                                    <div class="name-controler"><p>{{this.tempo}}</p></div>
                                    <div class="name-controler"><p>{{this.entrada}}</p></div>
                                    <div class="name-controler ver-mais"><p>{{this.saida}}</p></div>
                                </div>
                    {{/each}}
                </div>

            </div>
        </div>
    </div>
</div>
